

/* 
	This doc belongs to Vishal Industries you asshole ;) 
								 */

body{
    background-color: #2c2a2b;

  }
.main{
    color: #ffd152;
    font-family: 'Ubuntu Mono';
    font-style: normal;
    text-align: center;
    font-size: 35px;
    
    vertical-align: middle;
  }
  .redirect{
    color: rgb(0, 255, 179);
    font-family: 'Ubuntu Mono';
    font-style: normal;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
  }
  .form{
    font-family: 'Ubuntu Mono';
    font-style: normal;
    text-align: center;
    padding-top: 30px;
    color: rgb(0, 255, 115);
    font-size: 30px;
  }
  
.token{
  font-family: 'Ubuntu Mono';
    font-style: normal;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}
.fac{
  word-wrap: break-word;
  margin-left: 50px;
  margin-right: 50px;
}

.help{
  font-family: 'Ubuntu Mono';
  font-style: normal;
  text-align: center;
  font-size: 15px;
}
.token_show{
  font-family: 'Ubuntu Mono';
  font-style: normal;
  text-align: center;
  font-size: 25px;
  color: #dc93ff;

}


